<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnLink</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LearnLink</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Account</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Create your profile as a teacher.</h5>
                    <h6>If you already have a profile use your credentials to Login</h6>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="teacher-name" id="username" placeholder="Choose a username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="teacher-pass" id="password" placeholder="Enter a password" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Subject that you teach.</label>
                            <input type="text" class="form-control" name="teacher-subject" id="password" placeholder="Enter a password" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Enter the 6-digit code for your platform provided by admin.</label>
                            <input type="text" class="form-control" name="platform-code" id="password" placeholder="Enter a password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>